
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Raleway', sans-serif;
}

/* reset css */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  --primaryColor:#FF0066;
  --secondaryColor:#FF006660;
  --tertiaryColor:#ff006640;
  --black:#1d1d1f;
  --grey:#6e6e73;
  --white:#fff;
  --lightWhite:#ffffff60;

  --smallText:12px;
  --detailText:14px;
  --bodyText:16px;
  --subTitle:18px;
  --titleText:24px;
  --mainText:32px;
  --displayText:60px;

  --thin:400;
  --medium:500;
  --bold:600;
  --extraBold:700;

  --circle:50%;
  --normalCurve:10px;
  --mediumCurve:7px;
  --smallCurve:5px;

  --lineHeight:45px;
}





